@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url('../assets/fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/roboto/roboto-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/roboto/roboto-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 'normal';
  font-style: normal;
  src: url('../assets/fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/roboto/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/poppins/poppins-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 'normal';
  font-style: normal;
  src: url('../assets/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/poppins/poppins-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
    url('../assets/fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}
