.navigation-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 64px;

  &__nav {
    max-width: 1040px; // TODO should be variable : $desktop
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.3rem;
    margin: auto;
  }

  &__general {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-right: 10px;
    padding: 10px 0;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__logo {
    padding: 12px 0;
    margin-right: 32px;
    display: inline-block;
  }

  &__logo-img {
    display: block;
    width: auto;
    height: 21px;
  }

  &__content {
    list-style: none;
    display: flex;
  }

  &__links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    padding: 12px;
    font-size: 13px;
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.35s ease-in-out;

    // TODO: we should define global styling, no need, currently a is taking colors from semantic-ui
    a {
      color: white;

      &:hover {
        color: white;
      }
    }

    &:hover {
      opacity: 1;
      color: white;
    }
  }

  &__user {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    height: 64px;
  }

  &__user-link {
    display: inline-block;
    margin: 0;
    padding: 10px;
    opacity: 0.8;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
}
