@import 'styles/tailwind';
@import 'styles/_fonts';

:root {
  --color-primary: #2885d0;
  --color-primary-light: #18bde6;
  --color-secondary: #586064;
  --color-secondary-light: #90969a;
  --color-secondary-lightest: #bbbbbb;
  --color-secondary-darkest: #191d20;
  --color-light: #ffffff;
  --color-dark: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
